# Environments
.env
.venv
env/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.ipynb_checkpoints/

# CatBoost Training Telemetry
catboost_info/

# Logs
*.log


